* {
    margin: 0;
    padding: 0;
}

/*Edições do cabeçalho do site*/
.header-container {
    display: flex;
    justify-content: center;  /* centraliza o menu */
    align-items: center;
    position: relative;
    padding: 20px;
}

.logo_cabecalho {
    position: absolute;
    left: 20px; /* canto esquerdo */
}

.logo_cabecalho img {
    width: 130px;
}

.menu_cabecalho {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: 'Antic';
    font-weight: bold;
}

.menu_cabecalho a {
    text-decoration: none;
    font-size: 25px;
    color: #1351d8;
}




/*Edições do contéudo(main) do site*/


.container_main {
    justify-content: center;
    align-items: center; 
    display: flex;
    width: 100%;
}


.container_escolhas_de_carro {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.modelo_opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Antic';
    text-align: start;
    color: #1351d8;
    font-size: 16px;
}

.modelo_opcao img {
    width: 250px;
    padding: 10px;
}

.modelo_opcao input {
    margin-top: 10px;
}

.modelo_opcao label {
    margin-top: 5px;
    max-width: 250px;
}

.checkbox_label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 8px; /* espaço entre checkbox e texto */
}

.checkbox_label input[type="checkbox"] {
    transform: scale(1.8);         /* Aumenta o tamanho do checkbox */
    transform-origin: center;      /* Garante que ele aumente proporcionalmente */
    vertical-align: middle;        /* Alinha melhor com o texto */
    cursor: pointer;               /* Mãozinha ao passar o mouse */
}

.descricao_modelo {
    font-size: 13px;
    color: #555;
    margin-top: 3px;
    text-align: start;
    max-width: 250px;
}

.botao_informacao {
position:relative;
top: 170px; /* Move a imagem para baixo */
}


/*Edições do rodapé do site*/

footer {
    font-family: 'Antic';
    background-color: #1b357e;
    color: #ffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

.menu-footer {
    display: flex;
    align-items: center;
    gap: 20px; /* espaço entre h2 e redes-sociais */
    padding: 10px; 

}
.redes-sociais {
    display: flex;
    gap: 10px;
}

.logo-footer {
    width: 90px;
    position: absolute;
    right: 40px;
}

