
body {
    font-family: "Antic", sans-serif;
    font-weight: 600;
}



/* Área exclusiva para edição do rodapé do site. */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1b357e;
    color: white;
    text-align: center;
}

